/target/
**/*.rs.bk
*.swp
.wasm-binaries
polkadot/runtime/wasm/target/
substrate/executor/wasm/target/
substrate/test-runtime/wasm/target/
substrate/pwasm-alloc/target/
substrate/pwasm-libc/target/
substrate/pwasm-alloc/Cargo.lock
substrate/pwasm-libc/Cargo.lock
demo/runtime/wasm/target/
**/._*
.vscode
polkadot.*
.DS_Store
