**/target/
**/*.rs.bk
*.swp
.wasm-binaries
polkadot/runtime/wasm/target/
core/executor/wasm/target/
core/test-runtime/wasm/target/
core/pwasm-alloc/target/
core/pwasm-libc/target/
core/pwasm-alloc/Cargo.lock
core/pwasm-libc/Cargo.lock
node/runtime/wasm/target/
**/._*
.vscode
polkadot.*
.DS_Store
