# Lists some code owners.
#
# A codeowner just oversees some part of the codebase. If an owned file is changed then the
# corresponding codeowner receives a review request. An approval of the codeowner is
# not required for merging a PR though.
#
# **This is pretty much an experiment at the moment**. Feel free to remove yourself at any time if
# you do not want to receive review requests any longer.
#
# For details about syntax, see:
# https://help.github.com/en/articles/about-code-owners
# But here are some important notes:
#
# - Glob syntax is git-like, e.g. `/core` means the core directory in the root, unlike `core` which
#   can be everywhere.
# - Multiple owners are supported.
# - Either handle (e.g, @pepyakin) or email can be used. Keep in mind, that handles might work better because they
#   are more recognizable on GitHub, you can use them for mentioning unlike an email.
# - The latest matching rule, if multiple, takes precedence.

# Block production
/client/basic-authorship/ @NikVolf

# Sandboxing capability of Substrate Runtime
/primitives/sr-sandbox/ @pepyakin
/primitives/core/src/sandbox.rs @pepyakin

# Transaction pool
/client/transaction-pool/ @NikVolf
/primitives/transaction-pool/ @NikVolf

# Offchain
/client/offchain/ @tomusdrw
/primitives/offchain/ @tomusdrw

# GRANDPA, BABE, consensus stuff
/frame/babe/ @andresilva
/frame/grandpa/ @andresilva
/client/finality-grandpa/ @andresilva
/client/consensus/babe/ @andresilva
/client/consensus/slots/ @andresilva
/client/consensus/pow/ @sorpaas
/primitives/consensus/pow/ @sorpaas

# Contracts
/frame/contracts/ @athei

# NPoS and election
/frame/staking/ @kianenigma
/frame/elections/ @kianenigma
/frame/elections-phragmen/ @kianenigma
/primitives/npos-elections/ @kianenigma

# Fixed point arithmetic
/primitives/sp-arithmetic/ @kianenigma

# Transaction weight stuff
/frame/support/src/weights.rs @shawntabrizi

# Authority discovery
/client/authority-discovery/ @mxinden
/frame/authority-discovery/ @mxinden

# Prometheus endpoint
/utils/prometheus/ @mxinden
