# Lists some code owners.
#
# A codeowner just oversees some part of the codebase. If an owned file is changed then the
# corresponding codeowner receives a review request. An approval of the codeowner is
# not required for merging a PR though.
#
# **This is pretty much an experiment at the moment**. Feel free to remove yourself at any time if
# you do not want to receive review requests any longer.
#
# For details about syntax, see:
# https://help.github.com/en/articles/about-code-owners
# But here are some important notes:
#
# - Glob syntax is git-like, e.g. `/core` means the core directory in the root, unlike `core` which
#   can be everywhere.
# - Multiple owners are supported.
# - Either handle (e.g, @pepyakin) or email can be used. Keep in mind, that handles might work better because they
#   are more recognizable on GitHub, you can use them for mentioning unlike an email.
# - The latest matching rule, if multiple, takes precedence.

# CI
/scripts/ci/ @paritytech/ci
/.github/ @paritytech/ci
/.gitlab-ci.yml @paritytech/ci

# Sandboxing capability of Substrate Runtime
/primitives/sandbox/ @pepyakin @koute

# WASM executor, low-level client <-> WASM interface and other WASM-related code
/client/executor/ @koute
/client/allocator/ @koute
/primitives/wasm-interface/ @koute
/primitives/runtime-interface/ @koute
/primitives/panic-handler/ @koute
/utils/wasm-builder/ @koute

# Systems-related bits and bobs on the client side
/client/sysinfo/ @koute
/client/tracing/ @koute

# GRANDPA, BABE, consensus stuff
/frame/babe/ @andresilva
/frame/grandpa/ @andresilva
/client/consensus/grandpa/ @andresilva
/client/consensus/babe/ @andresilva
/client/consensus/slots/ @andresilva
/client/consensus/pow/ @sorpaas
/primitives/consensus/pow/ @sorpaas

# BEEFY, MMR
/client/beefy/ @acatangiu
/frame/beefy/ @acatangiu
/frame/beefy-mmr/ @acatangiu
/frame/merkle-mountain-range/ @acatangiu
/primitives/beefy/ @acatangiu
/primitives/merkle-mountain-range/ @acatangiu

# Contracts
/frame/contracts/ @athei

# NPoS and election
/frame/election-provider-support/ @paritytech/staking-core
/frame/staking/ @paritytech/staking-core
/frame/nomination-pools/ @paritytech/staking-core
/frame/elections-phragmen/ @paritytech/staking-core
/primitives/npos-elections/ @paritytech/staking-core

# Fixed point arithmetic
/primitives/sp-arithmetic/ @kianenigma

# Transaction weight stuff
/frame/support/src/weights.rs @shawntabrizi
